.characterProperties{
    width: 100%;
    font-size: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color:rgba(250, 244, 244, 0.938);
    font:bold;
    border: 2px solid black;
    background-image: linear-gradient(to bottom right, rgb(40, 0, 185), rgb(247, 215, 37));
}

.name{
    text-decoration: underline;
    
}

